<ion-view view-title="Home">
  <ion-content>
  	<label class="item">
	    <button class="button button-block button-positive">
	  		Block Button
		</button>
	</label>

    <div id="video-container">
      <h3>
        Video
      </h3>
      <div class="row">
        <div class="col-sm-6">
          <div class="video" id="incoming-video"></div>
        </div>
        <div class="col-sm-6">
          <div class="video" id="outgoing-video"></div>
        </div>
      </div>
    </div>

	<button class="btn btn-success" id="initialize-call-btn" ng-click="init_call()">Call</button>	
	<button class="btn btn-success" id="initialize-end-btn" ng-click="end_call()">End Call</button>		
  <button class="btn btn-success" id="answer-call-btn" ng-click="answer_call()">Answer Call</button> 
  </ion-content>
</ion-view>
