<ion-modal-view>
    <ion-header-bar>
      	<h1 class="title">New Contact</h1>
      	<div class="buttons">
    		<button class="button button-clear button-positive" ng-click="closeContactModal()">Cancel</button>
  		</div>
    </ion-header-bar>
    <ion-content>
      	<form ng-submit="passwordLogin()" ng-show="showLoginForm">
	      	<div class="list">
	      		<label class="item item-input">
		          <span class="input-label">Name</span>
		          <input type="email" ng-model="nexContactData.name">
		        </label>
		        <label class="item item-input">
		          <span class="input-label">Phone number</span>
		          <input type="text" ng-model="nexContactData.phone_number">
		        </label>
		        <label class="item item-input">
		          <span class="input-label">E-mail</span>
		          <input type="email" ng-model="nexContactData.email">
		        </label>
		        <label class="item">
		          <button class="button button-block button-positive" type="submit">Save contact</button>
		        </label>
      		</div>
    	</form>
    </ion-content>
</ion-modal-view>